{% extends 'base.html.twig' %}
{% block carousel %}{% endblock %}

{% block body %}

  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-8 mb-4">
        	<h4>Services</h4>
          	  <div class="p-4">
        		<p>The Home Health Education Service is your source for family health and well being products.</p>

				<p>We have a great variety of books for your home. In this age of diseases and disorder, you can still find and make order in your home. At least, that is our aim. We will answer your questions about health, raising of children, character building, psychology, family matters, medicinal plants around your homestead and many more issues of life. All you have to do is to look around and find the book of your choice. Order for a book and we will deliver it to your office or home door. The delivery is free of charge.</p>

				<p>We have included some presentations for most of the books, and you will have the priviledge to peep into the books and see what it contains. If you click on "Preview", you will be directed to a page where you will view the contents of the book and see whether it contains what you need.</p>

				<p>When you get a book that you need to have at your home library, please click on "Purchase" and fill in your details. Leave the rest to us. We will make sure you get the book within at most three days. You can call us using our numbers shown on the left side . </p>
			  </div>
			<h4>Products</h4>
          	  <div class="p-4">
				<p>Our top quality books cover a wide range of interest and topics including values education, food, general health, natural healing, parenting and relationships, stress management, children literatures and inspirational books. We strongly believe that our products will change your life forever!</p>

				<p>Who needs these books?</p>

				<p>You may wonder if you need these books yourself. The answer is YES!. You need them more than you may imagine. But where else will these books be of good importance?</p>

				<p>You may inform your church that they need a library of these life transforming books. Your school will also need a library of these educative books. Your university or college will also need these books. Finally, you can't help keeping these books in your home library. </p>
			  </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">

          <!--Content-->
          <div class="p-4">
          	<a href="{{path('find_agent')}}" class="btn btn-success">Find an agent near you.</a>
          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>


    </div>
  </main>
  <!--Main layout-->


{% endblock %}
